# Node.js
node_modules/
npm-debug.log
yarn-error.log
.vagrant

# Dependency directories
/dist/
/build/
/out/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log
